*{
    margin:0;
    padding:0;
}
li {
    list-style: none;
}

.slider_wrapper {
    position:relative;
    width: 960px;
    margin: 0 auto;
    height:300px;
    overflow:hidden;
}
.slides {
    position:absolute;
    left:0;
    top:0;
    transition:left 0.5s ease-out;
}
.slides li:not(:last-child) {
    float:left;
    margin-right:30px;
}
.box {
    background-color: #333;
    color:#fff;
    width: 300px;
    height: 300px;
}

.controls {
    text-align: center;
    margin-top: 50px;
}
.controls span {
    background: #333;
    color:#fff;
    padding:10px 20px;
    margin: 0 10px;
}