body {
    background-color:#34495e;
    color: white;
}

.form, .greetings {
    display:none;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.showing {
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    z-index: -1;
    animation: fadeIn 3s linear;
}

.toDoForm__input {
    border: none;
    border-bottom:2px solid white;
    background-color:unset;
}

.toDoForm__input:focus {
    outline: none;
    color:white;
    
}

.toDoList {
    list-style-type: none;
    padding-inline-start: 0;
}